body {
  background-color: yellow;
  font-family: verdana;
}
h1 {
  font-weight: bold;
  color: green;
}
h2 {
  font-weight: bold;
  color: #c02537;
}
h3
{
  font-weight: bold;
  color: yellow;
}
h4{
  font-weight: bold;
  color: red;
}
